@import './variables.scss';

.btn {
    border: 0;
    background-color: transparent;
    font-size: 16px;
    color: $white;
    font-weight: 600;
}
.btn-container {
    background-color: $primary;
    border-radius: 40px;
}