@import "./variables.scss";

// ----------------------------- Button --------------------------------------- //
.btn {
    border: 0;
    cursor: pointer;
    background: map-get($colors, "secondary");
    box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25),
        10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #fff;
    border-radius: 32px;
}
.btn:active {
    background-color: map-get($colors, "tertiary");
    box-shadow: 5px 5px 10px rgba(170, 170, 204, 0.5), -5px -5px 10px #fff;
}

// ----------------------------- Input --------------------------------------- //
.input {
    border: 0;
    padding-left: 20px;
    background: #f5f5fa;
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgba(170, 170, 204, 0.25),
        inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #ffffff;
    border-radius: 40px;
}
.input:focus {
    outline: none;
}
.input-error {
    box-shadow: inset -2px -2px 4px rgba(255, 255, 255, 0.5), inset 2px 2px 4px rgb(250, 3, 3),
        inset 5px 5px 10px rgba(170, 170, 204, 0.5), inset -5px -5px 10px #ffffff;
}

// ----------------------------- Text --------------------------------------- //
.text {
    padding: 0;
    margin: 0;
}